Package: com.vladkorotnev.blackscreenshot
Name: Black Screenshot Flash
Depends: mobilesubstrate
Version: 1.0.0-1
Architecture: iphoneos-arm
Description: Black screenshot flash looks way nicer
Maintainer: Vladislav Korotnev
Author: Vladislav Korotnev
Section: Tweaks
Installed-Size: 16
