Package: com.yourcompany.testtweak
Name: TestTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Vladislav
Author: Vladislav
Section: Tweaks
